*{
    @import url('https://fonts.googleapis.com/css2?family=Comforter&family=Festive&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Quintessential&family=Roboto:wght@100;500;700&family=Source+Sans+Pro&display=swap');

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
   
}
.menu-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu-nav{
    width: 100%;
    height: 10vh;
    background-color: rgba(240, 240, 238, 0.959);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(218, 216, 216);
}
.menu-nav h3{
    font-size: 1.5rem;
    font-weight: 100;
}
.menu-nav h3 span{
    color: rgb(37, 35, 35);
    border-bottom: 2px solid rgb(248, 213, 167);
    padding-bottom: 4px;
}
#cutlery{
    font-size: 2rem;
    width: 55px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 50%;
    color: black;
    background-color: wheat;
    cursor: pointer;
}
.menu-nav .search{
    border: 1px solid black;
    height: 38px;
    width: 470px;
}
.menu-nav .search input{
    width: 85%;
    height: 100%;
    font-size: 1rem;
    text-transform: capitalize;
    padding-left: 10px;
    border: none;
    background-color: white;
}
.menu-nav .search i{
    font-size: 1.4rem;
    text-align: center;
    width: 15%;
    height: 100%;
    cursor: pointer;
    background-color: wheat;
    padding: 4px;
    border-left: 1px solid black;
}
.menu-nav .search i:hover{
    color:white;
}
.menu-wrap{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.menu-wrap .menu-side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(247, 243, 243);
    border-right: 0px solid rgb(223, 220, 220);
}
.menu-wrap .menu-side-bar i{
    font-size: 1.8rem;
    cursor: pointer;
    text-align: center;
    padding-left: 50px;
    color: rgb(223, 149, 81);
}
.menu-icons{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}
.item-container{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));

}
.image-box{
    text-align: center;
    background-color:rgb(247, 243, 243);
    margin: 10px;
    cursor: pointer;
    
}
.image-box img{
    height: 11rem;
    width: 14rem;
    object-fit: cover;
    padding: 2px 0px;
}
.image-box img:hover{
    transform: scale(.98);
}
.image-box h4,p,button{
    text-align: center;
    text-transform: capitalize;
    color: rgb(42, 42, 53);
}
.image-box button{
    background-color: wheat;
    border: 01px solid rgb(197, 195, 195);
    width: 100px;
    height: 25px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.menu-wrap .menu-side-bar p{
    text-align: center;
    color: rgb(61, 60, 60);
    font-size: 16px;
}
.menu-side-bar{
    
    width: 120px;
    height: 90vh;
    
}
.menu-items{
    width: 750px;
    height: 90vh;
   
}
.menu-items .item-nav{
    width: 100%;
    height: 40px;
    top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
}
.menu-items .item-nav button{
    height: 100%;
    width: 300px;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    border: none;
   font-weight: 100;
   color: black;
   background-color: wheat;
}
.menu-items .item-nav button:hover{
    background-color: rgb(206, 206, 206);
    transition: 1.5s;
}
.menu-right-bar{
    width: 500px;
    height: 90vh;
    border-left: 0px solid rgb(202, 200, 200);
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(216, 215, 215);
    
    
}
.product-preview{
    position: fixed;
    top: 0;left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 162, 162, 0.699);
    display: none;
}
.product-preview .preview{
    display:none ;
    padding: 2rem;
    margin: 2rem;
    width: 40rem;
    position: relative;
    text-align: center;
    background-color: white;
}
.product-preview .preview .active{
    display: inline block;
}


.cart-header{
    display:flex;
    flex-direction: row;
    background-color:rgb(241, 239, 239);
    margin-right:3px;
    height: 40px;
    justify-content:space-between;
    padding:5px;
    align-items:center;

}
.cart-header .discription {
    width: 210px;
    height:auto;
}
.cart-header .discription p{
    text-align: start;
}
.cart-header .discription p, .quantity p, .price p, .action p{
    text-transform: capitalize;
    color: rgb(87, 58, 20);
    font-weight:bold;
}
.cart_roll{
    display:flex;
    flex-direction: row;
    margin-right:10px;
    height: 40px;
    justify-content:space-between;
    padding: 0px 5px;
    align-items:center;
}
.cart_roll .dish-item{
    width: 210px;
    height:auto;
    text-transform: capitalize;
    color:rgb(93, 93, 99);
    font-weight: 100;
}
.cart_roll .qnty input{
    width:30px;
    height:auto;
    border: none;
    cursor: pointer;
}
.cart_roll #remove_btn{
    color: brown;
    cursor: pointer;
}
    
