#aboutText{
    padding: 10px;
}
#faq{
    align-items: center;
    font-weight: 700;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bacasime Antique', serif;
}
#faq span{
    width: 150px;
    height: 2px;
    background-color: grey;
    display: block;
    margin-top: 10px;
}
#aboutImg{
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}
#theAccordion{
    margin-top: 50px;
    padding: 50px 0px;
    background-color: rgba(198, 195, 195, 0.153);
    border-radius: 4px;
}

#aboutTitle{
    align-items: center;
    font-weight: 700;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bacasime Antique', serif;
}
#aboutTitle span{
    width: 100px;
    height: 2px;
    background-color: grey;
    display: block;
    margin-top: 10px;
}
.accordion-button{
    background-color: rgba(198, 195, 195, 0.153);
}
#videoWrap{
    padding: 20px 20px;
    background-color: rgba(181, 178, 178, 0.121);
    margin-top: 50px;
    
}
#menuVideo{
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    height: 70vh;
}
