#adminHead{
   color: goldenrod;
   font-weight: 700;
   border-bottom: 1px solid gray ;
}
#theAdmin{
    background-color: transparent;
}
#adminBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid rgb(184, 184, 184);
 
}
#adminTxt{
 font-weight: 500;

}
#adminTxt:hover{
    color: grey;
    background-color: rgba(250, 235, 215, 0.258);
}

/* #adminBtn li{
    border-radius: 4px;
    background-color: rgba(218, 165, 32, 0.208);
} */
#adminPanel{
    background-color: rgba(221, 220, 220, 0.265);
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 4px;
}
