#contact{
    margin-top: 50px;
    background-color: rgba(175, 172, 172, 0.075);
    padding: 20px 20px;
  
}
#contact h4{
  text-align: center;
  font-weight: 700;
  color: goldenrod;
  font-family: 'Bacasime Antique', serif;
}
#contactBoxId{
    width: 300px;
   justify-content: space-between;
    display: flex;
    flex-direction: column;
   border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.212);
    padding: 10px 10px;
}

#contactIcon{
    display: flex;
    flex-direction: row;
}
#contactIcon i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border: 1px solid grey;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    color: goldenrod;
    
}
#contactIcon p{
    font-size: 14px;
    font-weight: 500;
}
#contactForm input{
   border: 1px solid grey;
}
#contactForm textarea{
    border: 1px solid grey;
 }
#contactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactWrapper{
   
    justify-content: space-between;
}
#contactBtn button{
    padding: 10px 50px;
    font-size: 20px;
    background-color: goldenrod;
    border-radius: 4px;
    border: none;
    font-weight: 700;
}
#contactBtn button:hover{
    background-color: rgba(128, 128, 128, 0.208);
}
#footer{
    background-color: rgba(128, 128, 128, 0.304);
    height: auto;
    padding: 50px 0px;
    margin-top: 20px;
}

#footRights{
    text-align: center;
    color: rgb(52, 51, 51);
   font-size: 15px;
   font-weight: 500;
}
#footerBox{
    border-bottom: 1px solid rgba(0, 0, 0, 0.203);
    margin-bottom: 10px;
    padding-bottom: 40px;
}

#footerWrap{
    display: flex;
    flex-direction: column;
   
}
#footerTitle {
    align-items: center;
    margin-bottom: 20px;
    color: #daa520;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footerTitle span{
    width: 100px;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.217);
    display: block;
    margin-top: 10px;
}
#footerWrap h4{
    color: #daa520;
    font-family: 'Bacasime Antique', serif;
}
#footerWrap p{
    text-align: start;
    
}
#footerImg{
    justify-content: start;
    align-items: center;
    height: inherit;
    display: flex;
}
#footerImg h5{
    margin-left: 10px;
    font-weight: 700;
    color: goldenrod;
    font-family: 'Bacasime Antique', serif;
}
#footerImg h5 span{
    border-bottom: 1px solid grey;
}
#footerImg img{
    width: 80px;
    width: 80px;
    object-fit: cover;
}
#footerWrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
#footerWrap2 h4{
    text-align: center;
    margin-bottom: 20px;
    color: goldenrod;
    font-family: 'Bacasime Antique', serif;
}
#footerSocialLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px 50px;
}
#footerSocialLinks i{
    color: goldenrod;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 20px;
}
#footerSocialLinks i:hover{
    color: silver;
}