#contact{
    margin-top: 50px;
    background-color: rgba(175, 172, 172, 0.075);
    padding: 20px 0px;
}
#contact h4{
  text-align: center;
  font-weight: 700;
}
#contactForm{
    background-color:rgba(175, 172, 172, 0.091) ;
    margin: 20px 100px;
    padding: 50px 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 12px grey;
}
#contactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactBtn button{
    padding: 10px 50px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 4px;
}
#contactBtn button:hover{
    background-color: rgba(128, 128, 128, 0.208);
}
#footer{
    background-color: rgba(128, 128, 128, 0.304);
    height: 300px;
}