#homePage{
    height: 70vh;
}
#homeImg{
    width: 100%;
    object-fit: cover;
    background-position: center;
    height: 70vh;
    filter: brightness(40%)
}
#homeTxt{
 
    margin-bottom: 70px;
}
#homeTxt h5{
    font-size: 35px;
    font-weight: 700;
    color: antiquewhite;
    font-family: 'Bacasime Antique', serif;
}
#homeTxt p{
    color: antiquewhite;
}
#homeTxt button{
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.852);
    color: antiquewhite;
}