#navLogin h5{
    margin: 0px 10px;
    
}
#logoBox{
    border: 3px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#logoBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
#navbtn button{
   border: 1px solid grey;
   border-radius: 4px;
   padding: 8px 40px;
   margin: 0px 5px;
   font-weight: 500;
}
#exampleModalLabel{
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
}
#exampleModalLabel span{
    height: 2px ;
    width: 50px;
    display: block;
    background-color: gray;
    margin: 0px 10px;
}
#loginInput{
    border: 1px solid grey;
    background-color: rgba(160, 157, 157, 0.089);
    height: 45px;
}
#loginBtn {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loginBtn button{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
    background-color: goldenrod;
    border-radius: 4px;
    border: none;
}
#loginBtn button:hover{
    background-color: rgba(218, 165, 32, 0.416);
}
#loginBtn p{
    margin-top: 10px;
}



