/* #mainNav{
    background-color: grey;
    margin-top: 10px;
    padding: 10px 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 100;
}
#navLogin h5{
    margin: 0px 10px;
    
}
#logoBox{
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: grey;
    font-weight: 700;
}
#navbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbtn button{
    border: 1px solid rgba(218, 165, 32, 0.646);
    padding: 8px 40px;
    border-radius: 4px;
}
#navbtn button:hover{
    background-color: rgba(218, 165, 32, 0.194);
}
#navbtn p{
   font-weight: 500;
   color: rgb(66, 65, 65);
 
}
#userInfor{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfor button{
    background-color: #c0bfbf1a;
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 10px rgba(147, 146, 146, 0.185);
}
#userInfor button:hover{
    background-color: rgba(128, 128, 128, 0.233);
}
#theLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#theLogo img{
    width: 60px;
    height:60px;
    margin: 4px 4px;
    object-fit: cover;
    border-radius: 50%;
   
}
#theLogo small{
    font-weight: 700;
    font-size: 18px;
    color: gray;
    font-family: 'Bacasime Antique', serif;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(218, 165, 32, 0.598);
}
#loginButton{
   border: 1px solid goldenrod;
   border-radius: 4px;
   padding: 8px 40px;
   margin: 0px 5px;
   font-weight: 500;
}
#navTxt{
    margin-right: 15px;
}
#navTxt:hover{
    color: goldenrod;
    
}



 */

 #navigationBar{
    background-color: #f1f1f1;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 100;
    box-shadow: 2px 2px 10px #343333;
 }
 #navigationBarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #navigationBarLogo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
 }
 #navigationBarLogo small{
    color: grey;
    font-family: 'Bacasime Antique', serif;
    font-weight: 700;
    font-size: 16px;
 }
 #navBlog{
    margin-right: 15px;
    font-family: 'Bacasime Antique', serif;
    font-weight: 700;
    font-size: 16px;
    color: gray;
 }
 #navBlog:hover{
    color: #694125;
 }
 #userInfor{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #navTxt button{
    padding: 10px 35px;
    border-radius: 4px;
    font-size: 16px;
    color: gray;
    border: 1px solid #694125;
 }
 .dropdown-center button{
    display: flex;
    align-items: center;
    justify-content: center;
 }