#formBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.ikea.com/images/a-table-displaying-three-different-table-settings-including--28723e46805a429ee4cd27f2a5556fd1.jpg?f=sg');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    filter: brightness(70%);
    height: 90vh;
}
#formWrap{
    max-width: 500px;
    border: 1px solid grey; 
}