#newIcon{
    max-width: 200px;
    height: 50px;
    margin: 10px 20px;
    cursor: pointer;
}
#iconWrap{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#newsIcons{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#newSection{
    padding-bottom:40px;
}
/* #newsBox{

    display: flex;
    align-items: center;
    justify-content: center;
} */
.newsletterBox{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 20px 40px 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletterBox:hover{
    box-shadow: 2px 2px 12px gray;
    transition: 5ms;
}
.newsletterBox h4{
    text-align: center;
    padding-bottom: 10px;
    color:  #b7731f;
    font-family: 'Bacasime Antique', serif;
}
#basic-addon2{
    background-color: #daa52056;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}
#theSubsribeInput button{
   padding: 8px 30px;
   border: none;
   background-color: grey;
   color: white;
   border-radius: 4px;
   margin-left: 5px;
}