#newIcon{
    width: 200px;
    height: 60px;
    margin: 0px 20px;
}
#iconWrap{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#newSection{
    padding-bottom:40px;
}
/* #newsBox{

    display: flex;
    align-items: center;
    justify-content: center;
} */
.newsletterBox{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 20px 40px 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletterBox:hover{
    box-shadow: 2px 2px 12px gray;
    transition: 5ms;
}
.newsletterBox h4{
    text-align: center;
    padding-bottom: 10px;
    color: goldenrod;
}
#basic-addon2{
    background-color: rgba(218, 165, 32, 0.336);
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}