#dashboard{
    /* margin-top: 80px; */
    display: flex;
    flex-direction: row;
}
#topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(220, 217, 217, 0.384);
    
    /* z-index: 100;
    top: 0;
    left: 0;
    right: 0; */
}
#navBarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navBarLogo h5{
    font-weight: 700;
}
#navBarLogo h5 span{
    border-bottom: 2px solid goldenrod;
}
#topNav img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#avatar{
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#avatar i{
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    color: gray;
    font-weight: 100;
}
#avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}
