.admin-dashboard {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  min-height: 100%;
  background-color: #725310;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding-right: 25px;
}
.sidebar ul li {
  list-style: none;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-top: 1px solid #ffffff38;
  width: 100%;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: #ffffff1a;
  border-top: none;
}
#dashboardLinksNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboardLinksNav p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#dashboardLinksNav p span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #725310;
  width: 25px;
  height: 25px;
  background-color: antiquewhite;
  border: 1px solid #0000007b;
  border-radius: 50%;
  position: relative;
  left: -20px;
  top: -8px;
}
#dashboardLinksNav p i {
  font-size: 20px;
  color: antiquewhite;
  margin-right: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.sidebar-open {
  width: 80px;
}

.main-content.sidebar-open {
  margin-left: 80px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .main-content {
    margin-left: 80px;
  }

  .sidebar-open {
    width: 250px;
  }

  .main-content.sidebar-open {
    margin-left: 250px;
  }
}

/* Additional styling as needed */
