#loginFormBox{
    width: 450px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px  gray;
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(217, 217, 214, 0.126);
}
#loginFormImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#loginImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}