
#menuForm h5{
    text-align: center;
    color: rgba(121, 90, 12, 0.945);
}
#menuFormBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuForm button{
    background-color: rgba(218, 165, 32, 0.283) ;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 4px;
  
}
#menuInput input{
    border: 1px solid rgba(128, 128, 128, 0.345);
}
