
#theMenuCardBox {
  margin-top: 15px;
  border-radius: 4px;
  background-color: gainsboro;
}
#theMenuCardBoxWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#theMenuCardBox img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#theMenuCardBoxBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  width: 100%;
}
#theMenuCardBoxBtnA {
  border: none;
  padding: 2px 10px;
  border-radius: 2px;
  background-color: #725310;
  color: white;
}
#theMenuCardBoxBtnB {
  border: 1px solid hwb(41 6% 55% / 0.45);
  padding: 2px 4px;
  border-radius: 2px;
  background-color: transparent;
  color: #725310;
  font-weight: 600;
}
#menuHeaderText {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#menuHeaderTextBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menuHeaderTextBox select {
  width: 220px;
  border: 1px solid #725310;
  cursor: pointer;
}
#menuHeaderTextBoxInput input{
    border: 1px solid #725310;
}
#menuHeaderTextBoxIcon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menuHeaderTextBoxIcon i {
  color: #725310;
  font-size: 30px;
  cursor: pointer;
}
#menuHeaderTextBoxIcon span{
    display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
    width: 20px;
    height: 20px;
    background-color: #725310;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -10px;
}
