#menuGroup{
    display: flex;
    flex-direction: column;
}
#menuCard{
    display: flex;
    flex-direction: column;

}
#menuSection{
    background-color: rgba(232, 230, 230, 0.279);
}
#menuCard img{
    width: 100%;
    border-radius: 4px;
    object-fit: contain;
    padding: 10px;
}
#menuCard button{
    border: 1px solid rgba(128, 128, 128, 0.29);
    border-radius: 4px;
    padding: 5px 0px;
    margin: 0px 5px;
    text-transform: capitalize;
}
#menuInputsWrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}
#canval button{
    border: none;
    background-color: rgba(250, 199, 69, 0.482);
    border-radius: 4px;
    padding: 2px 4px;
    
}
#canval button:hover{
    background-color: rgba(197, 152, 38, 0.728);
    transition: 5ms;
}
#canval button span{
    width: 40px;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.6);
    display: block;
    margin: 6px 0px;
}
#menuInputs{
margin-top: 10px;
background-color: rgba(232, 230, 230, 0.279);
}
#menuSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#menuSearch input{
    border-radius: 4px 0px 0px 4px;

}
#menuIcon{
    display: flex;
    align-items: end;
    justify-content: end;
}
#searchBtn{
    background-color: rgba(250, 199, 69, 0.482);
    border-radius: 0px 4px 4px 0px;
}
#searchBtn:hover{
    background-color: rgba(197, 152, 38, 0.728);
}
#itemsIcons{
    display: flex;
}

#itemsIcons i{
    font-size: 26px;
    cursor: pointer;
}
#modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(232, 230, 230, 0.279);
    padding: 5px 5px;
    margin: 0px 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.221);
}
#modalHeader img{
    width: 60px;
    height: inherit;
    border: 1px solid goldenrod;
    border-radius: 50%;
}
#itemsQty{
   
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
    bottom: 10px;
    cursor: pointer;
    background-color: rgba(250, 199, 69, 0.943);
}
#itemsQty:hover{
    background-color: rgba(197, 152, 38, 0.728);
}
#productContainer{
    display: flex;
    flex-direction: row;
}
#productWrap{
   
    margin: 10px 0px;
    background-color: rgba(228, 226, 226, 0.539);
}
#productWrap button{
    padding: 4px 25px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 2px;
    background-color: rgba(251, 227, 167, 0.272);
}
#productBox img{
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 4px;
}
#menuSection{
    padding: 10px;
}