#menuForm {
    padding: 10px 50px;
    margin-top: 5px;
    background-color: #e2e1e1;
    box-shadow: 2px 2px 10px grey;

}
#menuForm h5{
    text-align: center;
    color: rgba(121, 90, 12, 0.945);
}
#menuFormBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuForm button{
    background-color: rgba(67, 67, 67, 0.733);
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
}
#menuForm button:hover{
    background-color: rgba(67, 67, 67, 0.932) ;
}
#menuInput input{
    border: 1px solid rgba(128, 128, 128, 0.345);
}
