#navbar{
    background-color: rgba(220, 217, 217, 0.384);
    margin-top: 10px;
    width: 300px;
    padding: 10px 10px;
}
#navTxt{
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px 0px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgba(218, 165, 32, 0.274);
    color: rgb(76, 75, 75);
}